---
import routes from "@/i18n/translations/routes.json";
const languageData = {
  en: {
    about: "about",
    analytics: "analytics",
    articles: "articles",
    // Add more translations here...
  },
  da: {
    about: "om-os",
    analytics: "analyse",
    articles: "artikler",
    // Add more translations here...
  },
  de: {
    about: "ueber-uns",
    analytics: "analytik",
    articles: "artikel",
    // Add more translations here...
  },
  es: {
    about: "acerca-de",
    analytics: "analitica",
    articles: "articulos",
    // Add more translations here...
  },
};

let currentLang = "en"; // Default language
---

<div class="astro-language-picker">
  <label>
    <select id="lang">
      <option value="en">English</option>
      <option value="da">Danish</option>
      <option value="de">German</option>
      <option value="es">Spanish</option>
    </select>
  </label>

  {
    Object.keys(languageData[currentLang]).map((section) => (
      <span>{languageData[currentLang][section]}</span>
    ))
  }

  <script define:vars={{ routes }}>
    let currentLang = "en"; // Default language
    const currentPath = window.location.pathname;

    if (currentPath.split("/").length > 1) {
      currentLang = currentPath.split("/")[1];
    }
    function handleChange(e) {
      const currentPath = window.location.pathname;

      if (e.target.value == currentLang) {
        return;
      }
      currentLang = e.target.value;

      let newPath = `/${e.target.value}`;
      console.log("Current path", currentPath.split("/"));
      function removeLeadingSlash(path) {
        if (path.startsWith("/")) {
          return path.slice(1);
        }
        return path;
      }

      if (currentPath.split("/").length == 2) {
        const pathWithoutLeadingSlash = removeLeadingSlash(currentPath);

        const nextroute = "/" + routes[currentLang][pathWithoutLeadingSlash];

        if (currentPath !== "/") {
          newPath += nextroute;
        }
        location.href = newPath;
        console.log("newApath", newPath);
        console.log("Slected lang", currentLang);
      }

      if (currentPath.split("/").length == 3) {
        const currentPath = window.location.pathname;
        const prevLang = currentPath.split("/")[1];
        const searchKey = currentPath.split("/").slice(2).join("/");

        if (prevLang == currentLang) {
          return;
        }
        function findKeyInObject(obj, searchKey) {
          for (const key in obj) {
            if (obj[key].toLowerCase() == searchKey.toLowerCase()) {
              return key;
            }
          }
          return null; // Key not found
        }
        const path = findKeyInObject(routes[prevLang], searchKey);
        const nextroute = "/" + routes[currentLang][path];

        if (currentPath !== "/") {
          newPath += nextroute;
        }

        location.href = newPath;

        // console.log("3-newApath", path, searchKey, currentPath);
        console.log(
          "3-Selected lang",
          currentPath.split("/")[1],
          currentLang,
          newPath
        );
      }

      if (currentPath.split("/").length == 4) {
        const currentPath = window.location.pathname;
        const prevLang = currentPath.split("/")[1];
        const searchKey = currentPath.split("/").slice(2).join("/");

        if (prevLang == currentLang) {
          return;
        }
        function findKeyInObject(obj, searchKey) {
          for (const key in obj) {
            if (obj[key].toLowerCase() == searchKey.toLowerCase()) {
              return key;
            }
          }
          return null; // Key not found
        }
        const path = findKeyInObject(routes[prevLang], searchKey);
        const nextroute = "/" + routes[currentLang][path];

        if (currentPath !== "/") {
          newPath += nextroute;
        }

        location.href = newPath;

        // console.log("3-newApath", path, searchKey, currentPath);
        console.log(
          "3-Selected lang",
          currentPath.split("/")[1],
          currentLang,
          newPath
        );
      }

      // window.location.href = newPath;
    }

    document.getElementById("lang").addEventListener("click", handleChange);
  </script>
</div>
