---
import { getLangFromUrl, useTranslatedPath, type RouteKey } from ".";
interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href = "#", hreflang, ...props } = Astro.props;

const lang = getLangFromUrl(Astro.url);

const r = useTranslatedPath(lang);
---

<a href={r(href as RouteKey)} hreflang={lang} {...props}>
  <slot />
</a>
