---
interface Props extends astroHTML.JSX.HTMLAttributes {
  items: {
    title: string;
    description: string;
  }[];

  centerVertical?: boolean;
}

const { items, centerVertical = false, ...props } = Astro.props;
---

<ul {...props}>
  {
    items.map(({ title, description }, index) => (
      <li>
        <div
          class={`border-t border-primary-4 grid grid-cols-1 md:grid-cols-2  gap-4 py-8 md:px-8 ${
            centerVertical ? "items-center" : ""
          }`}
        >
          <p class="text-2xl leading-tight  tracking-[.48px] text-neutral-10">
            <span class="md:mr-4 block md:inline mb-4 md:mb-0 font-medium md:font-normal">
              {index + 1 < 10 ? "0" + (index + 1) : index + 1}
            </span>
            {title}
          </p>
          <p class="text-neutral-20 text-base leading-[1.4]">{description}</p>
        </div>
      </li>
    ))
  }
</ul>
