---
import Logos from "@/components/Logos.astro";
import GetInTouchForm from "@/components/contact/GetInTouchForm.astro";
import { useTranslation, type Locale } from "@/i18n";
import Layout from "@/layouts/Layout.astro";

import Reviews from "@/sections/request-a-demo/Reviews.astro";

interface Props {
  locale: Locale;
}

const { locale } = Astro.props;

const {
  pages: { request_a_demo },
} = await useTranslation(locale as Locale);
---

<Layout title="Request a Demo">
  <GetInTouchForm kind="full" />

  <section class="py-[4.25rem]">
    <p
      class="brand-gradient bg-clip-text text-transparent uppercase text-base font-medium text-center"
    >
      {request_a_demo.company_relationships}
    </p>
    <h2
      class="text-[2rem] font-medium leading-[1.2] capitalize tracking-[1.6px] text-neutral-30 text-center mt-2.5 mb-8"
    >
      {request_a_demo.mercura_clients}
    </h2>
    <Logos class="!py-10 bg-primary-5" />
  </section>

  <Reviews />
</Layout>
