---
import Model from "@/components/icons/Model.astro";
import { cn } from "@/utils";

interface Props {
  text_1: string;
  text_2: string;
  gapped?: boolean;
}

const { text_1, text_2, gapped = false } = Astro.props;
---

<section class="py-[4.25rem]">
  <div
    class={cn(
      "container grid grid-cols-1   items-center",
      gapped
        ? "gap-5 md:gap-0 md:grid-cols-[55%,1fr,40%] lg:grid-cols-[46%,1fr,40%]"
        : " gap-5 lg:gap-0  md:grid-cols-[1fr,40%] lg:grid-cols-2 "
    )}
  >
    <div class={cn(gapped ? "" : "order-2 md:order-1")}>
      <p class="heading-2 text-white mb-[50px]">{text_1}</p>
      <p class="text-xl font-light leading-tight text-white tracking-[.4px]">
        {text_2}
      </p>
    </div>
    {gapped && <div />}
    <div class={cn(gapped ? "" : "order-1 md:order-2 lg:pl-20")}>
      <Model />
    </div>
  </div>
</section>
