---
import RequestDemoLink from "@/components/RequestDemoLink.astro";
import NumberedList from "@/components/lists/NumberedList.astro";
import { getLangFromUrl, useTranslation } from "@/i18n";
import Trans from "@/i18n/Trans.astro";

const lang = getLangFromUrl(Astro.url);

const {
  pages: {
    pricing_engine: { benefits_of_pricing_features: t },
  },
} = await useTranslation(lang);
---

<section class="py-[4.25rem]" aria-label={t.label}>
  <div class="container">
    <h2 class="heading-2 text-center text-neutral-10 mb-12">
      <Trans translation={t.heading}>
        The <span class="text-accent-1">benefits</span> of our
        <br />
         pricing features
      </Trans>
    </h2>

    <p
      class="mb-16 mx-auto max-w-[730px] text-center text-xl font-light leading-tight tracking-[.4px] text-neutral-30"
    >
      {t.subtext}
    </p>

    <NumberedList items={t.benefits} />

    <div class="mt-16">
      <RequestDemoLink class="w-max mx-auto" />
    </div>
  </div>
</section>
