---
import { locales, useTranslation, type Locale } from "@/i18n";
import Layout from "@/layouts/Layout.astro";

import { Image } from "astro:assets";
import LabelSection from "@/sections/cases/LabelSection.astro";

import hero from "@/assets/case_3d_rendering_hero.png";
import laptop from "@/assets/multi_living_laptop.png";
import avatar from "@/assets/photo_3.png";

import migatronic_sm from "@/assets/case_migatronic_sm.png";
import lindab_garage from "@/assets/lindab_garage.png";
import car_audi from "@/assets/car_audi.png";

import ReviewCard from "@/sections/ReviewCard.astro";
import LetsBuildTogether from "@/sections/LetsBuildTogether.astro";
import OtherCases, { type Case } from "@/sections/cases/OtherCases.astro";

const otherCases: Case[] = [
  {
    photo: migatronic_sm,
    link: {
      title: "Migatronic",
      href: "/cases/migatronic-configurator",
    },
  },
  {
    photo: lindab_garage,
    link: {
      title: "Lindab Garage door Configurator",
      href: "/cases/lindab-garage-door-configurator",
    },
  },
  {
    photo: car_audi,
    link: {
      title: "Audi Configurator",
      href: "/cases/audi-configurator",
    },
  },
];

export async function getStaticPaths() {
  return Object.keys(locales).map((locale) => ({ params: { locale } }));
}

const { locale } = Astro.params;
const { common } = await useTranslation(locale as Locale);
---

<Layout title="3D Renderings for Multi-Living" theme="gray">
  <section class="py-[4.25rem]">
    <div class="container">
      <h1 class="heading-1 text-center text-neutral-20">
        3D Renderings <br />
        <span class="brand-gradient bg-clip-text text-transparent"
          >for Multi-Living</span
        >
      </h1>
    </div>
  </section>

  <div>
    <Image class="w-full" src={hero} alt="3D Renderings for Multi-Living" />
    <!-- 2xl:w-auto 2xl:mx-auto max-h-[755px] -->
  </div>

  <LabelSection
    label="The Problem"
    withLink={{ title: "See Solution", href: "#" }}
  >
    <span slot="title">Visual Appeal</span>
    <p slot="col-1">
      As a kitchen manufacturer, one of the most important aspects of your
      business is being able to showcase your products in a way that is visually
      appealing and informative. This is where 3D renderings and a 3D kitchen
      configurator can play a vital role.
    </p>
    <p slot="col-2">
      3D renderings are essential for showcasing the design and functionality of
      your kitchen elements. This allows customers to see what the final product
      will look like and how it will fit into their space. A 3D kitchen
      configurator is a powerful tool that allows customers to customize their
      kitchens to fit their unique needs and preferences. By using a 3D kitchen
      configurator, customers can choose from a range of options to create their
      dream kitchen
    </p>
  </LabelSection>

  <LabelSection label="The Solution" singleCol>
    <span slot="title">Beautiful visualization</span>
    <p slot="col-1">
      As a preliminary project for a kitchen configurator, Mercura has delivered
      more than 11,000 renderings and 3D models of all Multi-Living’s kitchen
      elements.
      <br />
      <br />The quality is top notch and gives Danish kitchen consumers an
      excellent shopping experience when they have to choose between different
      elements for the kitchen. The models are also fantastically suitable for a
      configurator.
    </p>
  </LabelSection>

  <section class="py-[4.25rem]">
    <div class="container">
      <Image class="w-full" src={laptop} alt="3D Renderings for Multi-Living" />
    </div>
  </section>

  <ReviewCard class="max-w-[800px] px-6" avatar={avatar}>
    <p class="inline text-2xl font-normal tracking-[.48px]">
      We have been extremely happy with the collaboration with Mercura. Their
      professionalism and quality has been of the highest order and we would
      happily recommend them to anyone else interested in 3D modeling and online
      configurators.
    </p>
    <p slot="author">CEO, Multi-Living A/S</p>
    <p slot="author">Ove Dalsgaard</p>
  </ReviewCard>

  <OtherCases cases={otherCases} />

  <LetsBuildTogether theme="gray" />
</Layout>
